.pokemon-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  & > div {
    color: white;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}
