.ring-loader {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.ring-loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #8b0000 transparent #8b0000 transparent;
  animation: ring-loader 1.2s linear infinite;
}
@keyframes ring-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
